---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://bitbucket.sgdev.org/rest/api/1.0/projects/SOUR/repos/vegeta/pull-requests/999
    method: GET
  response:
    body: '{"errors":[{"context":null,"message":"Pull request 999 does not exist in SOUR/vegeta.","exceptionName":"com.atlassian.bitbucket.pull.NoSuchPullRequestException"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - '@AEJ6EVx757x1021833x0'
      X-Asen:
      - SEN-11363689
      X-Asessionid:
      - lhja3d
      X-Auserid:
      - "104"
      X-Ausername:
      - thorsten
    status: 404 Not Found
    code: 404
    duration: ""
